.light {
  --c-main: #fcf9ee;
  --c-secondary: #e7d6c4;
  --c-do-not-scroll: #ddc92a;
  --c-text: #141414;
}

.dark {
  --c-main: #141414;
  --c-secondary: #e7d6c4;
  --c-do-not-scroll: #e7d6c4;
  --c-text: #e7d6c4;
}